<div class="mx-auto mt-12 max-w-xl sm:mt-14">
    <div class="flex flex-col items-center">
        <svg id="uis:check-circle" xmlns="http://www.w3.org/2000/svg"
            class="h-24 w-24 mb-5 stroke-current shrink-0 text-[#2AA149]  motion-safe:animate-bounce"
            viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m4.2 8.3l-4.8 4.8c-.4.4-1 .4-1.4 0l-2.2-2.2c-.4-.4-.4-1 0-1.4c.4-.4 1-.4 1.4 0l1.5 1.5l4.1-4.1c.4-.4 1-.4 1.4 0c.4.4.4 1 0 1.4">
            </path>
        </svg>


        <h2 class="text-xl font-medium pb-5">Inputs Submitted Successfully!</h2>
        <p>Thank you for using <br><a href="https://interactiveinputs.com" target="_blank"><b>Interactive Inputs</b></a></p>

        <a href="{{ .JobUrl }}" target="_blank">
            <button type="submit" class="btn btn-wide btn-md mt-6">Return to run
                <svg id="material-symbols:arrow-forward" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path fill="currentColor" d="M16.175 13H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8l-1.425-1.4z"></path>
                </svg>
            </button>
        </a>
    </div>
</div>