{{ define "head-meta" }}
<meta name="description" content="Supercharge your GitHub Action workflows!" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content='{{template "title" .}} | Interactive Inputs' />
<meta itemprop="description" content="Supercharge your GitHub Action workflows!" />
<meta itemprop="image" content="https://interactiveinputs.com/static/img/interactive-inputs-bg-black-text-white.png" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://interactiveinputs.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content='{{template "title" .}} | Interactive Inputs' />
<meta property="og:description" content="Supercharge your GitHub Action workflows!" />
<meta property="og:image" content="https://interactiveinputs.com/static/img/interactive-inputs-bg-black-text-white.png" />
<meta property="og:image:height" content="512" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content='{{template "title" .}} | Interactive Inputs' />
<meta name="twitter:description" content="Supercharge your GitHub Action workflows!" />
<meta name="twitter:image" content="https://interactiveinputs.com/static/img/interactive-inputs-bg-black-text-white.png" />
<meta property="twitter:image:height" content="512" />

<!-- Additional Meta Tags -->
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/interactive-inputs-bg-black-text-white.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/interactive-inputs-bg-black-text-white.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/interactive-inputs-bg-black-text-white.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/static/img/interactive-inputs-bg-black-text-white.png" />
<link rel="icon" type="image/png" sizes="512x512" href="/static/img/interactive-inputs-bg-black-text-white.png" />
{{ end }}